<!DOCTYPE html>

<html lang="en">

<head>
    
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="./css/estilo.css">

    <link rel="icon" href="./imagens/logo.jpeg">
    
    <title>firma de mergulho</title>
</head>

<body id="home">

    <div id="logo">
        
        <img src="./imagens/logo.jpeg" alt="">
    
    </div>


        <ul id="navegacao" >
            <li class="home primeiro"> <a href="index.html">Home</a></li>
            <li class="sobre"> <a href="sobre.html">Sobre</a></li>
            <li class="servicos"> <a href="servicos.html">Renan</a></li>
            <li class="noticias"> <a href="noticias.html">Notícias</a></li>
            <li class="contatos"> <a href="contatos.html">Contato</a></li>
        </ul>



    
</body>
</html>